APScheduler==3.6.3
backports.zoneinfo==0.2.1
cachetools==4.2.2
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
dill==0.3.4
grpcio==1.42.0
grpcio-status==1.42.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.11.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
libretranslatepy==2.1.1
loguru==0.5.3
lxml==4.6.4
multiprocess==0.70.12.2
pathos==0.2.8
pox==0.3.0
ppft==1.6.6.4
proto-plus==1.19.8
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyExecJS==1.5.1
python-telegram-bot==13.8.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.26.0
rfc3986==1.5.0
rsa==4.8
six==1.16.0
sniffio==1.2.0
telebot==0.0.4
tornado==6.1
translate==3.6.1
translators==4.9.5
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
certifi==2021.10.8
charset-normalizer==2.0.9
idna==3.3
pyTelegramBotAPI==4.2.2
requests==2.26.0
urllib3==1.26.7
